body {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-top: 24;
  margin-bottom: 24px;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellowgreen;
}

div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  gap: 8px;
}

ul {
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  font-size: 18px;
  margin-bottom: 12px;
}

input {
  margin-top: 12px;
}

button:hover {
  color: red;
}
