body {
  display: flex;
  gap: 24px;
}
button {
  padding: 8px 12px;
  border-radius: 12px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  transition: 200ms;
  cursor: pointer;
  display: flex;
  gap: 8px;
}
#hover {
  background-color: darkblue;
}
button::after {
  content: url("./resources/white-arrow.png");
}
